/* ------------------------------------------------------------ *\
	Box Logo
\* ------------------------------------------------------------ */

.box-logo {
	.box__title {
		margin-bottom: 3.3rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 1.8rem;		
		}
	}

	.box__title h4 {

		@include breakpoint-down(mobile-medium) {
			font-size: 2.1rem;			
		}
	}

	.box__wrapper {
		background: #F7F3EA;
		border-radius: 1.5rem;
		padding: 3.1rem 1.8rem;
		position: relative;
		overflow: hidden;
		min-height: 49.9rem;
		display: flex;
		align-items: flex-start;
		gap: 3.4rem;

		@include breakpoint-down(xlarge-desktop) {
			min-height: 32vw;
		}

		@include breakpoint-down(tablet) {
			min-height: 48vw;
			padding: 1rem 1.4rem;
		}

		@include breakpoint-down(mobile-medium) {
			min-height: 48vw;		
			gap: 1.4rem;
		}

		@include breakpoint-down(mobile-small) {
			flex-direction: column;		
		}
	}

	&:has(.box__content) .box__wrapper {
		min-height: unset;
	}

	.box__back {
		position: absolute;
		top: .9rem;
		right: 2.1rem;
		width: 100%;
		max-width: 92.5%;

		@include breakpoint-down(tablet) {
			top: 0;
			right: 0;
			max-width: 100%;
			height: 100%;	
			display: flex;
			align-items: flex-end;	
		}
	}

	.box__back img {
		width: 100%;
	}

	.box__content {
		flex-grow: 1;
	}

	.box__actions {
		width: fit-content;
		position: relative;
		z-index: 2;
		margin-left: auto;
		display: flex;
		gap: 2.2rem;
		align-items: center;
		flex-shrink: 0;

		@media only screen and (max-width: 1599px) and (min-width: 1024px) {
			gap: 1.4vw;
		}

		@include breakpoint-down(mobile) {
			gap: 1.1rem;		
		}
	}

	.box__actions h3 {
		margin-bottom: 0;
		font-size: 4.8rem;

		@media only screen and (max-width: 1599px) and (min-width: 1024px) {
			font-size: 3vw;
		}

		@include breakpoint-down(tablet) {
			font-size: 4rem;		
		}

		@include breakpoint-down(mobile) {
			font-size: 3.2rem;		
		}
	
		@include breakpoint-down(mobile-medium) {
			font-size: 2.8rem;		
		}
	}
}