/* ------------------------------------------------------------ *\
	Box
\* ------------------------------------------------------------ */

.box {
	position: relative;
	border: .1rem solid var(--c-black);
	border-radius: 3rem;
	padding: 1.9rem 2.6rem;
	overflow: hidden;
	
	@include breakpoint-down(small-desktop) {
		padding-inline: 1.6rem;		
	}

	@include breakpoint-down(tablet) {
		padding-inline: 2.6rem;	
		min-height: 32rem;	
	}

	@include breakpoint-down(mobile) {
		border: 0;
		border-radius: 0;	
		padding: 0;		
		min-height: unset;
		overflow: visible;
	}

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 59%);
		z-index: -1;

		@include breakpoint-down(mobile) {
			display: none;	
		}
	}

	.box__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		overflow: hidden;

		@include breakpoint-down(mobile) {
			position: static;
			height: auto;
			margin-bottom: 1.5rem;
		}
	}

	.box__image img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;

		@include breakpoint-down(mobile) {
			position: static;		
		}
	}

	&:not(&--large) .box__image {
		border: .1rem solid var(--c-black);
		border-radius: 3rem;

		@include breakpoint-down(mobile-medium) {
			border-radius: 1.8rem;		
		}
	}

	.box__content {
		font-family: var(--ff-book);
		font-size: 2.8rem;
		font-weight: 700;
		text-transform: uppercase;

		@include breakpoint-down(tablet) {
			font-size: 2rem;		
		}

		@include breakpoint-down(mobile) {
			font-size: 1.8rem;		
		}

		@include breakpoint-down(mobile-medium) {
			font-size: 1.5rem;		
		}
	}

	.box__content h1 {
		margin-bottom: -0.7rem;

		@include breakpoint-down(mobile) {
			font-size: 6rem;
			margin-bottom: 1rem;		
		}

		@include breakpoint-down(mobile-medium) {
			font-size: 4.27rem;
			line-height: 1;		
		}
	}

	.box__content h2 {
		margin-bottom: 0;

		@include breakpoint-down(mobile) {
			font-size: 3.6rem;	
		}

		@include breakpoint-down(mobile-medium) {
			font-size: 2.95rem;	
		}
	}

	.box__content h2 + a.btn {

		@include breakpoint-down(mobile) {
			margin-top: .6rem;		
		}
	}

	.box__content p:not(:last-child) {
		margin-bottom: 2rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 1.4rem;		
		}
	}

	.box__content a.btn--small {

		@include breakpoint-down(mobile) {
			font-size: 2rem;		
		}
	
		@include breakpoint-down(mobile-medium) {
			padding: 1.2rem 1.4rem .9rem;
			font-size: 1.6rem;
		}
	}
}


/* ------------------------------------------------------------ *\
	Code Box
\* ------------------------------------------------------------ */

.codeBox {
	position: relative;
	border: .1rem solid var(--c-black);
	border-radius: 3rem;
	padding: 1.9rem 2.6rem;
	overflow: hidden;
	
	@include breakpoint-down(small-desktop) {
		padding-inline: 1.6rem;		
	}

	@include breakpoint-down(tablet) {
		padding-inline: 2.6rem;	
		min-height: 32rem;	
	}

	@include breakpoint-down(mobile) {
		/* border: 0;
		border-radius: 0; Removed by AT */	
		border-radius: 1.5rem; /* Added by AT */
		padding: 0;		
		min-height: unset;
		overflow: visible;
	}

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 59%);
		z-index: -1;

		@include breakpoint-down(mobile) {
			display: none;	
		}
	}

	.box__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		overflow: hidden;

		@include breakpoint-down(mobile) {
			position: static;
			height: auto;
			margin-bottom: 1.5rem;
		}
	}

	.box__image img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;

		@include breakpoint-down(mobile) {
			position: static;		
		}
	}

	&:not(&--large) .box__image {
		border: .1rem solid var(--c-black);
		border-radius: 3rem;

		@include breakpoint-down(mobile-medium) {
			border-radius: 1.8rem;		
		}
	}

	.box__content {
		font-family: var(--ff-book);
		font-size: 2.8rem;
		font-weight: 700;
		text-transform: uppercase;

		@include breakpoint-down(tablet) {
			font-size: 2rem;		
		}

		@include breakpoint-down(mobile) {
			font-size: 1.8rem;		
		}

		@include breakpoint-down(mobile-medium) {
			font-size: 1.5rem;		
		}
	}

	.box__content h1 {
		margin-bottom: -0.7rem;

		@include breakpoint-down(mobile) {
			font-size: 6rem;
			margin-bottom: 1rem;		
		}

		@include breakpoint-down(mobile-medium) {
			font-size: 4.27rem;
			line-height: 1;		
		}
	}

	.box__content h2 {
		margin-bottom: 0;

		@include breakpoint-down(mobile) {
			font-size: 3.6rem;	
		}

		@include breakpoint-down(mobile-medium) {
			font-size: 2.95rem;	
		}
	}

	.box__content h2 + a.btn {

		@include breakpoint-down(mobile) {
			margin-top: .6rem;		
		}
	}

	.box__content p:not(:last-child) {
		margin-bottom: 2rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 1.4rem;		
		}
	}

	.box__content a.btn--small {

		@include breakpoint-down(mobile) {
			font-size: 2rem;		
		}
	
		@include breakpoint-down(mobile-medium) {
			padding: 1.2rem 1.4rem .9rem;
			font-size: 1.6rem;
		}
	}
}

/* Box Large */
.box--large {
	grid-row: 1 / -1;
	padding: 2.2rem 2.6rem;

	@include breakpoint-down(small-desktop) {
		padding-inline: 2rem;		
	}

	@include breakpoint-down(tablet) {
		grid-column: 1 / -1;	
		padding-inline: 2.6rem;	
		min-height: 52rem;
	}

	@include breakpoint-down(mobile) {
		padding: 0;
		min-height: unset;
		margin-top: -30.5vw;	
		margin-bottom: 1.3rem;	
	}

	@include breakpoint-down(mobile-medium) {
		margin-top: -31vw;		
	}

	&:after {
		display: none;
	}

	.box__image {
		
		@include breakpoint-down(mobile) {
			margin-inline: -2.4rem;
			width: calc(100% + 4.8rem);	
			margin-bottom: -4rem;	
		}

		@include breakpoint-down(mobile-medium) {
			margin-bottom: -1.8rem;	
			margin-inline: -1.4rem;
			width: calc(100% + 2.8rem);		
		}
	}

	.box__content p {
		@include breakpoint-down(mobile) {
			/* display: none; */ /* SHOW THIS ON THE HOMEPAGE */		
		}
	}
}

/* Box Code - Alternative to box--large - ADDED BY AT */
.box--code {
	grid-row: 1 / -1;
	padding: 2.2rem 2.6rem;

	@include breakpoint-down(small-desktop) {
		padding-inline: 2rem;		
		margin-bottom: 1.3rem;	
	}

	@include breakpoint-down(tablet) {
		grid-column: 1 / -1;	
		padding-inline: 2.6rem;	
		margin-bottom: 1.3rem;	
	}

	@include breakpoint-down(mobile) {
		padding: 2; /* Give an area around */
		min-height: unset;
		/*margin-top: -30.5vw;*/
		margin-bottom: 1.3rem;	
	}

	@include breakpoint-down(mobile-medium) {
		/*margin-top: -31vw;*/	
		margin-bottom: 1.3rem;	

	}

	&:after {
		display: none;
	}

	.box__image {
		
		@include breakpoint-down(mobile) {
			margin-inline: -2.4rem;
			width: calc(100% + 4.8rem);	
			margin-bottom: -4rem;	
		}

		@include breakpoint-down(mobile-medium) {
			margin-bottom: -1.8rem;	
			margin-inline: -1.4rem;
			width: calc(100% + 2.8rem);		
		}
	}

	.box__content p {
		@include breakpoint-down(mobile) {
			display: none;		
		}
	}
}