// ==========================================================================
// Btn
// ==========================================================================

.btn {
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	font-family: var(--ff-book);
	text-decoration: none;
	appearance: none;
	font-weight: 700;
	font-size: 3rem;
	line-height: 1;
	background: var(--c-black);
	color: var(--c-white);
	border-radius: 60px;
	border: .2rem solid var(--c-black);
	padding: 2.4rem 2.8rem 1.8rem;
	text-transform: uppercase;
	text-align: center;
	outline: .4rem solid transparent;
	transition: background .4s, color .4s, outline-color .4s;

	&:not(div) {
		cursor: pointer;
	}

	@media only screen and (max-width: 1599px) and (min-width: 1024px) {
		font-size: 2vw;
		padding: 2rem 1.8vw 1.4rem;
	}

	@include breakpoint-down(tablet) {
		padding: 1.8rem 1.8rem 1.2rem;
		font-size: 2.4rem;		
	}

	@include breakpoint-down(mobile) {
		font-size: 2rem;		
	}

	@include breakpoint-down(mobile-medium) {
		padding: 1.2rem 1.4rem .9rem;
		font-size: 1.6rem;
	}

	@media(hover: hover) and (pointer: fine) {
		&:not(div):hover {
			background: var(--c-white);
			color: var(--c-black);		
		}
	}

	&:focus-visible {
		outline-color: var(--c-base);
	}
}

//Btn small
.btn--small {
	font-size: 2.2rem;
	padding: 1.7rem 2.8rem 1.3rem;

	@include breakpoint-down(mobile) {
		font-size: 2rem;		
	}

	@include breakpoint-down(mobile-medium) {
		padding: 1.2rem 1.4rem .9rem;
		font-size: 1.6rem;
	}
}

// Btn block
.btn--block {
	display: block;
	padding-inline: 0;
}

//Btn large
.btn--large {
	font-size: 3.6rem;
	padding-block: 4rem 3.4rem;

	@media only screen and (max-width: 1599px) and (min-width: 1024px) {
		font-size: 2.2vw;
		padding-block: 2.4vw 2vw;
	}

	@include breakpoint-down(tablet) {
		padding: 2.2rem 1.8rem 1.6rem;
		font-size: 2.6rem;		
	}

	@include breakpoint-down(mobile) {
		padding: 1.8rem 1.8rem 1.2rem;
		font-size: 2rem;		
	}

	@include breakpoint-down(mobile-medium) {
		padding: 1.4rem 1.8rem 1rem;
		font-size: 1.8rem;
	}
}

//Btn Outline
.btn--outline {
	background: transparent;
	color: var(--c-black);

	@media(hover: hover) and (pointer: fine) {
		&:not(div):hover {
			background: var(--c-black);
			color: var(--c-white);		
		}
	}
}