/* ------------------------------------------------------------ *\
	Cards
\* ------------------------------------------------------------ */

.cards {
	display: flex;
	gap: 2rem;

	> *:not(:only-child) {
		width: calc(50% - 1rem);
	}
}