/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form {
	width: 100%;
	max-width: 50.1rem;

	@include breakpoint-down(xlarge-desktop) {
		max-width: 55rem;
	}

	form {
		width: 100%;
	}

	.form__row {
		width: 100%;
		/* display: grid; */
		align-items: center;
		grid-template-columns: 1fr 23rem;
		gap: 1.4rem;

		@include breakpoint-down(xlarge-desktop) {
			grid-template-columns: 1fr 25rem;
		}

		@include breakpoint-down(mobile) {
			grid-template-columns: 1fr 28rem;
		}

		@media only screen and (max-width: 640px) {
			grid-template-columns: 1fr 16rem;
			gap: .5rem;
		}

		@include breakpoint-down(mobile-small) {
			grid-template-columns: 1fr 13rem;
		}
	}

 	input {
		width: 100%;
		height: 7.6rem;
		line-height: 7.2rem;
		border: .2rem solid var(--c-black);
		border-radius: 1rem;
		padding-inline: 2.2rem;
		margin-bottom: 1rem;
		outline: .4rem solid transparent;
		transition: outline-color .4s;

		@media only screen and (max-width: 1599px) and (min-width: 1024px) {
			height: 5.5vw;
			line-height: 4vw;
		}

		@include breakpoint-down(mobile) {
			height: 5.6rem;
			line-height: 5.2rem;
		}

		@include breakpoint-down(mobile-medium) {
			height: 4.2rem;
			line-height: 3.8rem;
			border-radius: .6rem;
			padding-inline: 1rem;
		}

		&:focus-visible {
			outline-color: var(--c-base);		
		}
	} 
}