/* ------------------------------------------------------------ *\
	List Products Blocks
\* ------------------------------------------------------------ */

.list-products-blocks {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.6rem 2.4rem;
	font-size: 2.8rem;

	@media only screen and (max-width: 1599px) and (min-width: 1024px) {
		font-size: 1.6vw;
	}

	@include breakpoint-down(tablet) {
		grid-template-columns: 1fr;		
		gap: 2rem;
		font-size: 2.2rem;
	}

	@include breakpoint-down(mobile) {
		font-size: 1.8rem;		
	}

	@include breakpoint-down(mobile-medium) {
		font-size: 1.5rem;		
		gap: 1rem;
	}

	.list__block {
		border: .1rem solid #C9C9C9;
		border-radius: 3rem;
		display: grid;
		grid-template-columns: 16.9% 1fr;
		overflow: hidden;
		position: relative;

		@media only screen and (max-width: 1599px) and (min-width: 1024px) {
			grid-template-columns: 10vw 1fr;
		}

		@include breakpoint-down(mobile) {
			grid-template-columns: 13rem 1fr;
			border-radius: 2rem;
		}

		@include breakpoint-down(mobile-medium) {
			grid-template-columns: 8.5rem 1fr;
		}
	}

	.list__image {
		background: linear-gradient(180deg, #FCFDFF 0%, #FAFDFF 49.5%, #F5F9FD 100%);
		border-radius: 3rem 0 0 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-inline: 2.4rem;

		@include breakpoint-down(tablet) {
			padding-inline: 3rem;		
		}

		@include breakpoint-down(mobile-medium) {
			border-radius: 3rem 3rem 0 0;
			padding: 2rem 1.8rem;
		}
	}

	.list__image img {
		max-width: 100%;
	}

	.list__content {
		padding: 2.3rem 2rem 3.5rem;

		@include breakpoint-down(mobile) {
			padding: 1.4rem 2rem 2rem;
		}

		@include breakpoint-down(mobile-medium) {
			padding: 1.2rem 1.4rem 1rem 0;		
		}
	}

	.list__content h5 {
		padding-right: 22.5rem;
		margin-bottom: 1rem;
		min-height: 8.7rem;

		@media only screen and (max-width: 1599px) and (min-width: 1024px) {
			padding-right: 13vw;
			min-height: 3.4vw;
		}

		@include breakpoint-down(tablet) {
			min-height: 4rem;	
			margin-bottom: 1.2rem;	
		}

		@include breakpoint-down(mobile) {
			min-height: 5rem;		
		}

		@include breakpoint-down(mobile-medium) {
			padding-right: 12rem;		
			min-height: 3.4rem;
		}
	}

	.list__content p {
		margin-bottom: 0;
	}

	.list__actions {
		position: absolute;
		top: 1.8rem;
		right: 2.1rem;

		@include breakpoint-down(mobile-medium) {
			top: .6rem;
			right: 1rem;		
		}
	}
}
