/* ------------------------------------------------------------ *\
	Section Listing
\* ------------------------------------------------------------ */

.section-listing {
	padding: 1.4rem 0 5.4rem;
	overflow: hidden;

	@include breakpoint-down(tablet) {
		padding: .6rem 0 2.8rem;		
	}

	.section__shell {

		@include breakpoint-down(tablet) {
			display: flex;
			flex-direction: column;	
			gap: 1.8rem;
		}
	}

	.section__container {
		padding-top: 4rem;

		@include breakpoint-down(tablet) {
			padding-top: 0;		
		}
	}

	.section__container + .section__container {
		margin-top: 3.4rem;

		@media only screen and (max-width: 1599px) and (min-width: 1024px) {
			margin-top: 4vw;
		}

		@include breakpoint-down(tablet) {
			margin-top: 0;		
		}
	}

	.section__container:first-child {
		order: 2;
	}

	.section__container:nth-child(2) {
		order: 3;
	}

	.section__container:last-child {
		order: 1;
	}

	.section__container:last-child .container-box .container__image {
		@include breakpoint-down(tablet) {
			display: none;		
		}
	}
}