/* ------------------------------------------------------------ *\
	Section Boxes
\* ------------------------------------------------------------ */

.section-boxes {
	padding: 1.3rem 0 2.8rem;

	@include breakpoint-down(mobile) {
		padding: 0 0 3.8rem;		
	}
}
