/* ------------------------------------------------------------ *\
	Section Bag
\* ------------------------------------------------------------ */

.section-bag {
	padding: 1.7rem 0 10rem;

	@include breakpoint-down(tablet) {
		padding-bottom: 0;		
	}

	@include breakpoint-down(mobile-medium) {
		padding-top: 0;		
	}

	.section__shell {
		@include breakpoint-up(xlarge-desktop) {
			padding: 0 6.5rem;			
		}
 	}

	.section__head {
		margin-bottom: 5.7rem;

		@include breakpoint-down(large-desktop) {
			margin-bottom: 3.9rem;		
		}

		@include breakpoint-down(tablet) {
			text-align: center;		
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 1rem;		
		}
	}

	.section__head h1 {

		@include breakpoint-down(tablet) {
			font-size: 5.8rem;
		}
	
		@include breakpoint-down(mobile) {
			font-size: 4.6rem;		
		}

		@include breakpoint-down(mobile-medium) {
			font-size: 3.9rem;		
		}
	}

	.section__actions {
		display: flex;
		justify-content: flex-end;
		gap: 1.4rem;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		background: var(--c-white);	
		z-index: 100;	
		text-align: center;	
		padding: 2rem;
		box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25);

		@include breakpoint-down(tablet) {
			justify-content: center;
		}
	}

	.section__message {
		text-align: center;
		font-size: 3.2rem;
		font-family: var(--ff-book);
	}

	.section__message p {
		margin-bottom: 2rem;
	}

	.section__container-product + .section__container-product {
		margin-top: 6rem;
	}

	.section__info {
		margin-block: 2.4rem 3rem;
		padding-block: 3rem 4rem;
		border-top: solid var(--c-black);
		max-width: calc(70.5% - 5rem);
		margin-left: auto;

		@include breakpoint-down(tablet) {
			max-width: 100%;		
			width: 100%;
			border: 0;
			padding-top: 0;
			margin-block: 1.4rem 0;
			padding-bottom: 5.3rem;
		}

		@include breakpoint-down(mobile) {
			padding-bottom: 6.4rem;		
		}
	}
}