// ==========================================================================
// Base
// ==========================================================================

html {
	font-size: var(--fz-html);
}

body {
	min-width: 320px;
	min-height: 100svh;
	font-family: var(--ff-base);
	font-weight: var(--fw-base);
	font-size: var(--fz-base);
	line-height: var(--lh-base);
	color: var(--c-black);
	background: var(--c-white);

	@media only screen and (max-width: 1599px) and (min-width: 1024px) {
		font-size: 2vw;
	}

	@include breakpoint-down(tablet) {
		font-size: 2.6rem;		
	}

	@include breakpoint-down(mobile) {
		font-size: 2.2rem;		
	}

	@include breakpoint-down(mobile-medium) {
		font-size: 1.8rem;		
	}

	> div {
		min-height: 100svh;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
	}

	&:has(.popup.is-active) {
		overflow: hidden;
	}
}

a {
	color: inherit;
	text-decoration: underline;

	@media (hover: hover) {
		&:where(:hover, :focus-visible) {
			text-decoration: none;
		}
	}

	&[href^='tel'] {
		text-decoration: none;
	}
}

.level-1,
h1,
.level-2,
h2,
.level-3,
h3,
.level-4,
h4,
.level-5,
h5,
.level-6,
h6 {
	margin-bottom: calc(var(--lh-base) * 0.5em);
	line-height: 1.2;
}

.level-1,
h1 {
	font-size: 6rem;

	@media only screen and (max-width: 1599px) and (min-width: 1024px) {
		font-size: 4vw;
	}

	@include breakpoint-down(tablet) {
		font-size: 6rem;
	}

	@include breakpoint-down(mobile) {
		font-size: 5.2rem;		
	}

	@include breakpoint-down(mobile-medium) {
		font-size: 3.6rem;		
	}
}

.level-2,
h2 {
	font-size: 7.2rem;
	
	@media only screen and (max-width: 1599px) and (min-width: 1024px) {
		font-size: 4vw;
	}

	@include breakpoint-down(tablet) {
		font-size: 5.6rem;		
	}

	@include breakpoint-down(mobile) {
		font-size: 4.4rem;		
	}

	@include breakpoint-down(mobile-medium) {
		font-size: 3.8rem;
	}
}

.level-3,
h3 {
	font-size: 5.5rem;
	
	@media only screen and (max-width: 1599px) and (min-width: 1024px) {
		font-size: 3.2vw;
	}

	@include breakpoint-down(tablet) {
		font-size: 4.8rem;		
	}

	@include breakpoint-down(mobile-medium) {
		font-size: 4rem;		
	}
}

.level-4,
h4 {
	font-size: 4rem;

	@media only screen and (max-width: 1599px) and (min-width: 1024px) {
		font-size: 2.4vw;
	}

	@include breakpoint-down(tablet) {
		font-size: 3.4rem;		
	}

	@include breakpoint-down(mobile) {
		font-size: 3rem;		
	}

	@include breakpoint-down(mobile-medium) {
		font-size: 2.6rem;		
	}
}

.level-5,
h5 {
	font-size: 3.6rem;

	@media only screen and (max-width: 1599px) and (min-width: 1024px) {
		font-size: 2.2vw;
	}

	@include breakpoint-down(tablet) {
		font-size: 2.6rem;		
	}

	@include breakpoint-down(mobile) {
		font-size: 2.2rem;		
	}

	@include breakpoint-down(mobile-medium) {
		font-size: 1.95rem;		
	}

	@include breakpoint-down(mobile-small) {
		font-size: 1.6rem;		
	}
}

.level-6,
h6 {
	font-size: 3.2rem;

	@media only screen and (max-width: 1599px) and (min-width: 1024px) {
		font-size: 2vw;
	}

	@include breakpoint-down(tablet) {
		font-size: 2.6rem;		
	}

	@include breakpoint-down(mobile) {
		font-size: 2.2rem;		
	}

	@include breakpoint-down(mobile-medium) {
		font-size: 1.8rem;		
	}
}

p,
ul,
ol,
dl,
hr,
table,
blockquote {
	margin-bottom: calc(var(--lh-base) * 0.5em);
}

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child {
	margin-bottom: 0;
}
